html{height:100%;
  margin: 0;}

body {
  height: 100%;
  margin: 0;

  display: block; 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #3a3a3a;
}


#passWord, #userName{
  border-radius: 5px;
}

#loginTop, #passWord{margin: 2%;}

#main {
  width: 50%;
  height: 50%;
  margin-top: 5%;
  display: block; 
  margin-left: auto;
  margin-right: auto;

  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}

#login-error-msg {
    color: red;
}

#register-error-msg {
    color: red;
}