a{
    color: black;
}
a:hover{
    color: white;
    text-decoration: none;
}

#main{
      background-color: grey;
      box-shadow:0 4px 8px 0 rgba(255, 255, 255, 1), 0 4px 8px 0 rgba(255, 255, 255, 1);
}

#banner{
    background-color: #D0DAEE;
    background-image: linear-gradient(to bottom right, rgb(255, 0, 0), rgb(95, 0, 0));
}

body{
        background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(46, 46, 42));
    color: rgb(255, 255, 255);

}

.footer{
    background-color: #D0DAEE;
    background-image: linear-gradient(to bottom right, rgb(255, 0, 0), rgb(95, 0, 0));

}