*{
  font-family: Tahoma, Verdana, sans-serif;
}


.back, .forward, #login-button {
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

input[type=text]:focus{

  border: 3px solid #555;
}

div{
  padding: 1%;
   /* border: 2px solid black;  */
  }

  .form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  #search{
    
  }

  #banner{

    padding: 0%;
      text-align: center;
      /* position:fixed; */
      top: 0;
      left: 0;
      width: 100%;
      height: 90px;
      box-shadow: 0px 5px 5px;
      
  }

  .footer {
      text-align: center;
      position:fixed;
      bottom:0;
      left:0;
      width:100%;
      height: 90px;
      box-shadow: 0px 5px 5px inset;
    }



table, th, td {
  border:3px double black;
  text-align: center;
}
table{width: 60%;}







 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 